[user]
	name = Derrick Heindel
	email = dheindel@overdrive.com
[push]
	default = current
[pull]
        ff = only
	default = current
[checkout]
        defaultRemote = origin
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = blue
	frag = magenta bold
	commit = blue bold
	old = red bold
	new = green bold
	whitespace = red reverse
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = /Users/dheindel/.gitignore
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	meld = commit -a --amend --no-edit
        l = log --oneline
        st = stash save
        delete-tag = push --delete origin
        fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"
        wip = "!f() { git commit -am \"WIP - $1\" ; }; f"
        tmp = "!f() { git commit -am \"TMP - $1\" ; }; f"
        fix = "!f() { git commit -am \"FIX - $1\" ; }; f"
[rebase]
	autosquash = true
[init]
	defaultBranch = live
[credential]
	helper = osxkeychain
